/.settings/
/bin/
/target/
/*.tsv
/screenshots_
/screenshots
/libs/
/tgf/
/*.dat
/save
/results for blender
/data/conceptnet5v45.csv
/data/apagar.txt
/mappermo.jar
/data/apikey.txt
/data/mykb.csv
/corrections/
/data/google_api_key.txt
/data/openai_api_key.txt
/verified.csv
/data/mykb - Copy.csv
/verified - Copy.csv
